<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- ======================cdnjs======================= -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/><link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<!-- ==================custom css====================== -->
	{% load static%}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/keyframes.css' %}">
	<link rel="stylesheet" href="{% static 'css/utilities.css' %}">
	<link rel="stylesheet" href="{% static 'css/dash.css' %}">
	<link rel="stylesheet" href="{% static 'css/progressBar.css' %}">
	<link rel="stylesheet" href="{% static 'css/tab.css' %}">
	<link rel="shortcut icon" href="{% static 'svg/undraw_profile.svg' %}" type="image/x-icon">
	{% block 'css' %}
	
	{% endblock %}
	{% block 'title' %}
	
	{% endblock %}
</head>
<body>
	<!-- ===========================navbar===================================== -->
	<div class="main-wrapper">
		<section class="navbar-section">
			<nav class="navbar">
				<div class="logo-cont">
					<span class="lg-icon"><i class="fas fa-2x fa-laugh-wink"></i></span><h4 class="logo">SB ADMIN <sup>2</sup></h4>
				</div>
				<hr>
				<a href="/" class="components-cont">
					<span class="dash-icon">
						<i class="icon-dashboard"></i>
					</span>
					<h5 class="dash">Dashboard</h5>
				</a>
				<hr>
				<ul class="interface">
					<h5 class="int-title uppercase ml-2">Interface</h5>
					<div class="components-cont cc-container ">
						<span class="comp-icon"><i class="fas fa-fw fa-cog"></i></span><h5 class="int-title">Components</h5><span class="c-angle-right"><i class="fas fa-angle-right"></i></span>
					</div>
						<div class="components">
							<h5 class="comps">CUSTOM COMPONENTS</h5>
							<a href="/buttons" class="links">Buttons</a><br>
							<a href="/cards" class="links">Cards</a>
						</div>
					<div class="utilities">
						<div class="components-cont uc-container">
							<span class="comp-icon"><i class="fas fa-fw fa-wrench"></i></span><h5 class="int-title">Utilities</h5><span class="i-angle-right"><i class="fas fa-angle-right"></i></span>
						</div>
						<div class="components icomponents">
							<p class="comps">CUSTOM UTILITIES</p>
							<a href="/colors" class="links">Colors</a><br>
							<a href="/borders" class="links">Borders</a>
						</div>
					</div>
				</ul>
				<hr>
				<div class="toggle-cont">
					<div class="round-toggle"><span><i class="fas fa-angle-left"></i></span></div>
				</div>
			</nav>
		</section>
		<!-- ==========================topnav============================= -->
		<div class="wrapper">
			<div class="topnav">
				<div class="nav-left">
					<input type="search" name="top-search" class="top-search" placeholder="search for...">
					<span class="icon-search"></span>
				</div>
				<div class="nav-right">
					<div class="notification"><i class="fas fa-bell fa-fw"></i><span class="noms">9<sup>+</sup></span></div>
					<div class="message"><i class="fas fa-envelope fa-fw"></i><span class="noms">9<sup>+</sup></span></div>
					<div class="divider"></div>
					<p class="username">Guna</p>
					<img src="{% static 'svg/undraw_profile.svg' %}" class="top-profile" alt="">
				</div>
			</div>			
			{% block content %}
			{% endblock  %}
		</div>
	</div>
	<footer class="copyright">
		<div class="copy-container">
			<p class="copy">copyright &copy; Your Website <!--usedjango -->2021</p>
		</div>
	</footer>
	<!-- =================================custom js===================================== -->
	<script src="{% static 'js/app.js' %}"></script>
	{% block 'jsblock' %}
	{% endblock %}
</body>
</html>