@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

:root{
	--primary-color: #4f73df;
	--light-bg: #f6f7fa;
	--light-accent: #94abec;
	--hr-color: #6888e4;
	--dark-400: #0D1117;
	--blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Metrophobic', sans-serif;
}

body{
	background: var(--light);
	position: relative;
}

hr{
	color: var(--light-accent);
	margin: 1rem auto;
	width: 85%;
	opacity: .3;
}

li{
	list-style: none;
}
/* ==================================navbar==================================================== */
.navbar-section{
	display: flex;
	flex-direction: column;
	float: left;
	width: 14rem;
	height: 200vh;
	background: #4e73df;
	position: relative;
}

.navbar{
	align-self: center;
	color: white;
	width: 90%;
}
/* ==========================logo====================== */
.logo-cont{
	display: flex;
	justify-content: space-around;
}

.lg-icon{
	margin:  auto 0;
	transform: rotate(-20deg);
}

.logo{
	margin: 1rem;
}

/* ========================interface========================= */

.int-title{
	opacity: .7;
	font-weight: 100;
	margin: auto 0;
}
.li-show{
	display: list-item;
}

.interface>*{
	margin: 1rem auto;
}

/* ===================components=============== */

.components-cont{
	display: flex;
	width: 100%;
	position: relative;
	margin: .5rem;
	cursor: pointer;
}

.components-cont>*{
	margin-right: .3rem;
}

.c-angle-right, .i-angle-right{
	position: absolute;
	right: .5rem;
}

.rotate-down{
	transition: .2s;
	animation: rotate-down .2s forwards;
}

.fa-angle-right{
	cursor: pointer;
}

.comps{
	font-size: .6rem;
	color: var(--secondary);
}


/* ==================utilities=================== */

.components{
	background: var(--light-bg);
	color: var(--dark-400);
	opacity: 0;
	height: 0;
	margin: 1rem;
	transition: .2s;
}

.show-comp{
	padding: 1rem;
	border-radius: .5rem;
	display: block;
	height: auto;
	opacity: 1;
}

.components>*{
	margin: .5rem 0;
}

/* ================toggle================ */

.toggle-cont{
	position: absolute;
	top: 85vh;
	left: 50%;
	transform: translateX(-50%);
}

.round-toggle{
	background: var(--light-accent);
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	position: relative;
}

.round-toggle span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* =====================================topnav============================== */

.topnav{
	display: grid;
	grid-template-columns: 5fr 1fr;
	padding: .2rem;
	box-shadow: 1px 1px 10px var(--gray-dark);
}

.nav-left{
	margin: .5rem;
	margin-left: 1rem;
}

.nav-right{
	display: flex;
	margin: .5rem;
}

.nav-right>*{
	margin: auto .5rem;
}

.top-search{
	border: 1px solid var(--light);
	outline: none;
	border-radius: .3rem;
	padding: 1rem;
	width: 30%;
}
.top-search:focus{
	border: 1px solid var(--light-accent);
}

.icon-search{
	background: var(--hr-color);
	color: var(--white);
	padding: 1rem;
	border-radius: .3rem;
	margin-left: -0.5rem;
}

.icon-search:hover{
	background: var(--primary-color);
}

.notification, .message{
	color: var(--secondary);
	position: relative;
}

.notification:hover, .message:hover{
	color: var(--dark-gray);
}

.noms{
	position: absolute;
	top: 0rem;
	font-size: .5rem;
	padding: 0 .1rem;
	background: var(--red);
	color: var(--white);
	border-radius: .2rem;
	right: -0.2rem;
}

.divider{
	background: var(--dark-400);
	height: 80%;
	width: 1px;
	opacity: .3;
}

.top-profile{
	height: 2rem;
	border-radius: 50%;
	background: var(--blue);
}
.username{
	font-size: 13px;
	color: var(--secondary);
}

.copyright{
	position: absolute;
	left: 55%;
	transform: translateX(-45%);
	bottom: -5rem;
	color: var(--secondary);
}
