@media screen and (max-width: 1300px) {
	.dash-cards{
		grid-template-columns: repeat(2, 1fr);
	}

	.graph{
		flex-direction: column;
	}

	.earning-overview{
		width: auto;
	}

	.revenue-sources{
		width: auto;
	}
}


/* tab mini */

@media screen and (max-width:900px ) {


	.dash-cards{
		grid-template-columns: 1fr;
	}

	.colors-card{
		font-size: 15px;
	}

	.buttons-container{
		flex-direction: column;
	}

	.top-search{
		width: 40%;
	}
}

/* tab mini pro */

@media screen and (max-width:450px) {
	.navbar-section{
		position: absolute;
		z-index: 99;
		/* background: transparent; */
		display: none;
	}

	.dash-hero{
		flex-direction: column;
		width: 10rem;
	}
	.dash-title{
		margin-bottom: .5rem;
	}

	.ruby-cards{
		flex-direction: column;
	}

	.nav-left{
		display: block;
	}

	.title{
		margin-left: .5rem;
	}

	.mob-search{
		position: absolute;
		top: 3.5rem;
		background: var(--white);
		display: none;
		border-radius: .5rem;
		transition: .3s ease-out all;
	}

	.show{
		display: block;
	}

	.hamburger{
		display: inline;
	}

	.search-mobile{
		padding: .3rem;
		background: var(--primary-color);
		margin: 0;
		margin-left: .5rem;
		display: inline;
	}

	.top-search{
		width: auto;
		margin-left: auto;
		border-radius: .5rem;
		transition: .3s ease-out all;
	}


	.nav-left{
		margin: auto;
		margin-left: 2.5rem;
	}

	.icon-search{
		color: gray;
		background: none;
	}

	.dashboard-section{
		padding: 0;
	}

	.ruby-card{
		margin: 0;
	}
	.ruby-card>*{
		margin: 0.5rem 0;
	}


	.cards-wrapper{
		flex-direction: column;
	}

	.revenue-graph{
		margin-top: .2rem;
	}

	.row{
		flex-direction: column;
	}

	.col-lg-4{
		max-width: 100%;
		flex: auto;
	}

	.col-lg-6{
		max-width: 100%;
	}

	.copyright{
		font-size: 12px;
	}
}
