@media screen and (max-width: 1300px) {
	.dash-cards{
		grid-template-columns: repeat(2, 1fr);
	}

	.graph{
		flex-direction: column;
	}

	.earning-overview{
		width: auto;
	}

	.revenue-sources{
		width: auto;
	}
}


/* tab mini */

@media screen and (max-width:900px ) {


	.dash-cards{
		grid-template-columns: 1fr;
	}

	.colors-card{
		font-size: 15px;
	}

	.buttons-container{
		flex-direction: column;
	}
}



