.flex{
	display: flex;
}
.grid{
	display: grid;
}
.mg-a{
	margin: auto;	
}
.mg-a1{
	margin: auto 1rem;
}
.mg-a05{
	margin: auto .5rem;
}
.mr-05{
	margin: auto .5rem;
}
.uppercase{
	text-transform: uppercase;
}

.primary{
	background: #4e73df;
}

.success{
	background: #1cc88a;
}
.info{
	background: #36b9cc;
}
.warning{
	background: #f6c23e;
}
.danger{
	background: #e74a3b;
}
.secondary{
	background: #858796;
}
.light{
	background: #f8f9fc;
}
.dark{
	background: #5a5c69;
}